@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
		local('MaterialIcons-Regular'),
		url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
		url(/fonts/MaterialIcons-Regular.woff) format('woff'),
		url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'sncf';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/achemine-webfont.ttf') format('truetype');
}

.Marquee { overflow-x: hidden; }
.MarqueeContent { display: inline-block;}

.material-icons {
  /*font-family: 'Material Icons';*/
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  vertical-align: middle;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
	margin: 0;
	padding: 0;
	font-family: 'sncf', sans-serif;
	background: #222;/*#265277;*/
	color: #eee;
}

p { margin: 0; padding: 0; }

a { color: #ccc; }

form label, form input { vertical-align: middle; }

div#heure {
	position: fixed;
	top: -40pt;
	right: 8pt;
	width: 3.8em;
	padding: 0.2em;
	padding-top: 40pt;
	margin: 0;

	/*background-color: navy;*/
	background-color: black;
	border-radius: 0.56em;
	border: white 0.18em solid;
	font-size: 125%;

	z-index: 1;
	cursor: default;

	text-align: center;
}
div#heure small {
  /*color: #59599e;*/
  color: #616060;
}

div#more_options { cursor: default; }


div.train {
	padding: 5pt;
	background-color: #0c5da5;
}

div.train:nth-child(2n) {
	/*background-color: #043a6b;*/
	background-color: #131313;
}

div.train:nth-child(2n+1) {
	/*background-color: #0c5da5;*/
	background-color: #020202;
}

div.train span.heure-train { font-size: 125%; }
/*div.train.delayed span.heure-train { font-size: 100%; }*/
/*div.train.canceled span.heure-train { font-size: 100%; }*/

span.destination-train img {
	position: relative;
	top: 0.1em;
	height: 1em;
}

div.train div.desserte-train {
	padding: 0;
	/*color: #679fd2;*/
	color: #505050;
	height: 1.3em;
	/*line-height: 1em;*/
	overflow: hidden;
	white-space: nowrap;
	width: calc(100vw - 9.5em);
}
/*div.train div.desserte-train marquee {
	position: relative;
	bottom: -0.1em;
}*/
/*div.train div.desserte-train p {
	position: relative;
	bottom: -0.1em;

	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

	transition-property: bottom;
	transition-duration: 0.9s;
	transition-timing-function: linear;
	-webkit-transition-property: bottom;
	-webkit-transition-duration: 0.9s;
	-webkit-transition-timing-function: linear;
}*/

div.train div.heure-train.approche { text-decoration: blink; line-height: 0.9; }

div.train.delayed:nth-child(2n)   { background-color: #a05522; }
div.train.delayed:nth-child(2n+1) { background-color: #b63; }
div.train.canceled { background-color: #b44; }

div.train.delayed div.desserte-train,
	div.train.delayed span.numero-train { color: #d9a45a; }
div.train.canceled div.desserte-train,
	div.train.canceled span.numero-train { color: #e89090; }


span.numero-train { /*color: #679fd2;*/color : #505050; }

div#line_filter ul { margin-top: 0.3em; }
div#line_filter li { text-decoration: underline; }
div#line_filter img { position: relative; left: -2px; top: 4px; }
div#line_filter li.selected { font-weight: bold; }
div#line_filter { display: inline-block; }

div#error {
	z-index: 10;
	position: fixed;
	top: 0;
	width: 100%;
}

div.error-overlay {
	left: 0;
	top: 0;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
}

p#errormsg {
	display: block;
	padding: 0.4em;
	background-color: #b40404;
	text-align: center;
	color: white;
}

div#disclaimer {
	text-align: center;
}

div#heure, div#listetrains { cursor: default; }

div#listemessages { max-height: 6em; overflow: hidden; cursor: default; }

div#conteneurmessages {
	position: relative;
	bottom: 0px;
	transition-timing-function: linear;
	-webkit-transition-timing-function: linear;
}

div.message {
    background: #d09955;
    color: black;
    height: 5em;
    max-height: 5em;
    overflow: hidden;
    padding: 0.5em 0.5em 0.5em 3em;
}

div.subwindow {
	border-top: 1px solid gray;
	padding-top: 1em;
	padding-bottom: 2em;
	width: 100%;

	background-color: rgba(34, 34, 34, 0.8);
	z-index: 1;
}

div.subwindow p {
	text-align: center;
}

div.subwindow div.content {
	transition-property: height;
	transition-duration: 0.9s;
	transition-timing-function: linear;
	-webkit-transition-property: height;
	-webkit-transition-duration: 0.9s;
	-webkit-transition-timing-function: linear;
}

div#footer {
	border-top: 1px solid gray;
	padding-top: 1em;

	width: 100%;
	z-index: 1;
	background-color: #222;

	text-align: center;
}

.button { 
	position: relative;
	display: inline-block;
	text-align: center;
	margin: 0 3px;
	color: white; background: #555; padding: 4px;
	min-width: 2.5em; line-height: 1.7em;
	border-radius: 4px;
	box-shadow: 0 4px 0 0 #333;
	vertical-align: middle;
}

.button:hover { background: #666; cursor: pointer; }
.button.pressed:active, .button:active { top: 4px; box-shadow: 0 0; }
.button.pressed { top: 2px; box-shadow: 0 2px 0 0 #333; background: #567; }
.button.pressed:hover { background: #678; cursor: pointer; }

select {
	background-color: #444;
	border-color: #666;
	border-radius: 3px;
	color: white;
}

select option {
	background-color: #444;
	color: white;
}

small.route-name {
	font-size: 14px;
}

div.station-name {
	width: 100%;
    text-align: center;
	/*background-color: #164770;*/
	background-color: #191818;
	/*padding: 2px 0;*/
	cursor: none;
}
/*div.station-name span {
	vertical-align: middle;
	line-height: normal;
}*/