@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
		local('MaterialIcons-Regular'),
		url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
		url(/fonts/MaterialIcons-Regular.woff) format('woff'),
		url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'sncf';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/achemine-webfont.ttf') format('truetype');
}

.Marquee { overflow-x: hidden; }
.MarqueeContent { display: inline-block;}
.MarqueeY { overflow-y: hidden;font-size: 18pt}
.MarqueeYContent { display: block;padding: 5pt;}

.material-icons {
  /*font-family: 'Material Icons';*/
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  vertical-align: middle;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
html,body,#root {height: 100%;}
body {
	margin: 0;
	padding: 0;
	font-family: 'sncf', sans-serif;
	background: #265277;
	color: #eee;
}

p { margin: 0; padding: 0; }

a { color: #ccc; text-decoration-line: none }

form label, form input { vertical-align: middle; }

div#heure {
	position: fixed;
	top: -40pt;
	/*bottom: -40pt;*/
	right: 8pt;
	width: 3.8em;
	padding: 0.2em;
	padding-top: 40pt;
	/*padding-bottom: 40pt;*/
	margin: 0;

	background-color: navy;
	border-radius: 0.56em;
	border: white 0.18em solid;
	font-size: 125%;

	z-index: 1;
	cursor: default;

	text-align: center;
}
div#heure small {
  color: #59599e;
}
div#heure.voie {
	right: 45pt;
}

div#more_options { cursor: default; }


div.train {
	padding: 5pt;
	background-color: #0c5da5;
}

div.train:nth-child(2n) {
	background-color: #043a6b;
}

div.train:nth-child(2n+1) {
	background-color: #0c5da5;
}

div#listView {
	display: flex;
	flex-flow: column;
	height: 100%;
	min-height: calc(100vh - 3em);
}
div#bottomList {
	flex: 1 1 auto;
	display: flex;
	align-items: flex-end;
}
span.infos-track{
	right: 0;
	position: absolute;
	margin-right: 0.2em;
	display: inline-flex;
	align-items: center;
}
span.train-nature {
	margin-right: 0.4em;
	/*font-style: italic;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	border-left: 1px solid white;
	padding-left: .3em;
	width: 2.2em;
}
span.voie-train {
	display: inline-flex;
	/*align-items: flex-end;*/
	justify-content: center;
	/*text-align: center;*/
	/*line-height: 1.3em;*/
	width: 1.3em;
	height: 1.3em;
	border: .08em solid #ccc;
	border-radius: 5px;
	padding: .05em;
	/* letter-spacing: -2px; */
	
}

div.train span.heure-train { font-size: 125%; }
/*div.train.delayed span.heure-train { font-size: 100%; }*/
/*div.train.canceled span.heure-train { font-size: 100%; }*/

span.destination-train img {
	position: relative;
	top: 0.1em;
	height: 1em;
}

span.destination-train small {
	font-size: 40%;
	font-weight: lighter;
	font-style: italic;
}

div.train div.desserte-train {
	padding: 0;
	color: #679fd2;
	height: 1.3em;
	/*line-height: 1em;*/
	overflow: hidden;
	white-space: nowrap;
}
div.train div.desserte-train small {
	font-size: 0.5em;
	opacity: 0.5;
}

/*div.train div.desserte-train marquee {
	position: relative;
	bottom: -0.1em;
}*/
/*div.train div.desserte-train p {
	position: relative;
	bottom: -0.1em;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	transition-property: bottom;
	transition-duration: 0.9s;
	transition-timing-function: linear;
	-webkit-transition-property: bottom;
	-webkit-transition-duration: 0.9s;
	-webkit-transition-timing-function: linear;
}*/

div.train div.heure-train.approche { text-decoration: blink; line-height: 0.9; }

div.train.delayed:nth-child(2n)   { background-color: #a05522; }
div.train.delayed:nth-child(2n+1) { background-color: #b63; }
div.train.canceled { background-color: #b44; }

div.train.delayed div.desserte-train,
	div.train.delayed span.numero-train { color: #d9a45a; }
div.train.delayed span.dot-separator { color : #ffcf8d; }
div.train.canceled div.desserte-train,
	div.train.canceled span.numero-train { color: #e89090; }
div.train.canceled span.dot-separator { color : #ffbdb8; }


span.numero-train { color: #679fd2; min-width: 75px;}
span.distance-train { color: orangered; font-size: 0.65em; }
span.distance-train:hover { cursor: pointer; }

div#error {
	z-index: 10;
	position: fixed;
	top: 0;
	width: 100%;
}

div.error-overlay {
	left: 0;
	top: 0;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
}

p#errormsg {
	display: block;
	padding: 0.4em;
	background-color: #b40404;
	text-align: center;
	color: white;
}

div#heure, div#listetrains { cursor: default; }

div#footer {
	border-top: 1px solid gray;
	padding-top: 1em;

	width: 100%;
	z-index: 1;
	background-color: #222;

	text-align: center;
}

.button { 
	position: relative;
	display: inline-block;
	text-align: center;
	margin: 0 3px;
	color: white; background: #555; padding: 4px;
	min-width: 2.5em; line-height: 1.7em;
	border-radius: 4px;
	box-shadow: 0 4px 0 0 #333;
	vertical-align: middle;
}

.button:hover { background: #666; cursor: pointer; }
.button.pressed:active, .button:active { top: 4px; box-shadow: 0 0; }
.button.pressed { top: 2px; box-shadow: 0 2px 0 0 #333; background: #567; }
.button.pressed:hover { background: #678; cursor: pointer; }

select {
	background-color: #444;
	border-color: #666;
	border-radius: 3px;
	color: white;
}

select option {
	background-color: #444;
	color: white;
}

small.route-name {
	font-size: 14px;
}

div.station-name {
	width: 100%;
	text-align: center;
	background-color: #164770;
	/*padding: 2px 0;*/
	cursor: none;
}
/*div.station-name span {
	vertical-align: middle;
	line-height: normal;
}*/

span.dot-separator {
	color: #e6e014;
}



#Home h1 {
	display: flex;
	align-items:center;
	justify-content: center;
	width: 100%;
	margin: 0;
	padding: 0.67em 0;

	font-size: 1.5em;
}
#Home h1 span {
	margin-left: 10px;
}
#Home h1 img {
	height: 1em;
}
#Home .search {
	/*display: flex;
	align-items:center;
	justify-content: center;*/
	text-align: center;
}

#Home input {
	background-color: #070D46;
	border: none;
	font-family: 'sncf', sans-serif;
	color: #eee;
	padding: 0.3em 0.5em;
	margin-bottom: 8px;
}
#Home input:focus {
	outline:0;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #eee;
	opacity: 1; /* Firefox */
}


.content {
	min-height: calc(100vh - 50px);
}
footer {
	text-align: center;
	background-color: #222;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
}

.loader {
	height: 0;
	position: relative;
	top: -8px;
}
.loader-hidden {
	display: none;
}
.loader-active {
	display: block;
}

.leaflet-bottom.leaflet-right {
	display: none;
}

.trafic {
	/*padding: 5pt;*/
	height: 3em;
	overflow: hidden;
	/*white-space: nowrap;*/
	background-color: rgba(37, 36, 56, 0.88);
}
.content-trafic {
	height: 2.6em;
	padding:.2em;
	text-align: justify;
	text-justify: inter-word;
}
.slide-trafic .slick-slide {
	border: none;
}
.fite{height: 100%;}
#dots-trafic {
	position: absolute;
	top: auto;
	bottom: 0;
	overflow: hidden;
	white-space: nowrap;
}
#dots-trafic li {
	width: 10px;
	height: 10px;
}
#dots-trafic.slick-dots li button {
	width: 10px;
	height: 10px;
}
#dots-trafic.slick-dots li button:before {
	color: #7a7a9c;
}