@media screen and (max-width: 480px) {
	body, input { font-size: 11pt; }
	footer { font-size: 10pt; }
	
	div#heure { display: none; }
	div#haut { padding: 0.9em 0.9em 1.0em 0.7em; }

	div.group { display: inline; }
	div.group-middle { margin-right: 4px; }

	span.mission-train:after, 
		span.retard-train:before { color: white; content: "\00a0•\00a0"; color: yellowgreen}
		span.distance-train {font-size: 11pt;}
		span.distance-train:before { color: white; content: "\00a0•\00a0"; color: yellowgreen}
	span.destination-train { font-size: 140%; }
	div#line_filter ul:before { content: "LignesÂ : "; }

	span.voie-train {
		align-items: flex-end;
	}


	.no-data { display: none; }
	.desserte-train {display: none;}
	div .train:hover {padding-bottom: 0}
	div .train:hover .desserte-train {display: block;}
	.symbole  {display: none}
	.symbole.ter  {display: inline-block}
	.symbole.pop  {display: inline-block}

	.content-list {min-height: auto}
	.trafic {height: auto;}
}

